.appName{
    font-size: 4rem;
    font-weight: bold;
    color: #36417c;
    text-align: center;
    margin-bottom: 20px;
}
.App{
    width:70%;
    position:absolute;
    left:20%;
    right: 20%;
    /*display: flex;*/
    justify-content: space-between;
}
.addTaskField{
    display: flex;
    flex-direction: column;

}
.addTaskField textarea{
    height: 100px;
    font-size: 2rem;
    border:2px solid #afafec;
    border-radius: 5px;
    margin-bottom: 20px;
}
.addTaskField button{
    width:300px;
    background-color: #7eaeec;
    font-size: 1.5rem;
    font-weight: bold;
}
.todos{
    width: 100%;
   
}
.button-API{
    height: 10vh;
}
.addTaskField-buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;

}